@page
@model ElasticsearchModel
@{
    ViewData["Title"] = "Elastic Search - AppSearch -national-parks-demo";
}

<div class="text-center">
    <h1 class="display-4">Elasticsearch to AppSearch</h1>
    <p>Calls the national park demo</p>
     @Model.SearchResult
</div>
